<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" metadata-complete="false" version="2.5">
  <display-name>SmartCommuter.2.0</display-name>
  <description>SmartCommuter Web Client</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsSubmit</display-name>
    <servlet-name>ContactUsSubmit</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.ContactUsSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsSubmit</servlet-name>
    <url-pattern>/contactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationSearch</display-name>
    <servlet-name>StationSearch</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.StationSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationSearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationDetails</display-name>
    <servlet-name>StationDetails</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.StationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationDetails</servlet-name>
    <url-pattern>/station</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client</display-name>
    <servlet-name>Client</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.Client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStations</display-name>
    <servlet-name>AdminStations</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.AdminStations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStations</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStations</servlet-name>
    <url-pattern>/adminStations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCompanies</display-name>
    <servlet-name>AdminCompanies</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.AdminCompanies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCompanies</servlet-name>
    <url-pattern>/adminCompanies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminExit</display-name>
    <servlet-name>AdminExit</servlet-name>
    <servlet-class>ie.smartcommuter.controllers.AdminExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExit</servlet-name>
    <url-pattern>/adminExit</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SmartCommuter Admin</web-resource-name>
      <url-pattern>/admin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>smartcommuter-admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
   <auth-method>FORM</auth-method>
   <form-login-config>
     <form-login-page>/login.jsp</form-login-page>
     <form-error-page>/loginError.jsp</form-error-page>
   </form-login-config>
 </login-config>
</web-app>